*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}
body {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(243, 243, 243);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.insta-main {
	display: flex;
	flex-direction: row;
	flex-flow: xswrap;
	justify-content: start;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.insta-img {
	display: flex;
	justify-self: center;
	align-items:  center;
	width: 480px;
	margin: 0 10px 0;
	padding: 0;
}
.insta-img img {
	height: 35rem;
}
.insta-logger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 20px;
	padding: 10px;

}
.group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 300px;
	padding: 20px 35px 20px;
	margin-bottom: 20px;
	border: 1px solid lightgrey;
	background-color: white;
}
.change-account a {
	display: block;
	text-align: center;
}
.group:nth-child(1){
	min-height: 19rem;
}

.text {
	display: block;
	margin-bottom: 20px;
}
.insta-app {
	margin-top: 20px;
	text-align: center;
}


/* Tamanho das imagens */
.logo {
	width: 175px;
	height: 51;
	padding-top: 35px;
}
.profile-pic img {
	width: 86px;
	height: 86px;
	border-radius: 50%;
}
.app-store, .google-play {
	width: 136px;
	height: 40px;
}
/*
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	line-height: 10px;
	text-align: center;
}
.insta-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.insta-footer p {
	color: grey;
}
.f-links {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	margin-bottom: 10px;
}
.f-links a {
	color: grey;
}
*/
@media only screen and (max-width: 800px){
	.insta-main {
		display: flex;
		flex-direction: column-reverse;
		justify-content: start;
		align-items: center;
	}
	.insta-img {
		width: 0;
		height: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
	}
	.insta-logger {
		position: relative;
		margin-top: 20%;
		margin-bottom: 100px;
	}
}








